@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

p,
a {
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button-outline {
    @apply rounded-md border-2 border-primary hover:bg-primary/80 hover:text-black duration-500 py-2 px-6 text-primary tracking-wider;
  }

  .primary-btn {
    @apply bg-primary text-white hover:bg-primary/80 duration-500 rounded-lg py-2 px-4;
  }
}

.slick-prev,
.slick-next {
  color: #D22128 !important;
  z-index: 10;
}

.dark .slick-prev,
.dark .slick-next {
  color: white !important;
}

.slick-prev:hover,
.slick-next:hover {
  color: black !important;
}

.slick-prev::before,
.slick-next::before {
  color: inherit !important;
  font-size: 30px;
}